@font-face {
  font-family: "Avenir Black";
  src: local("AvenirLT-Black"),
    url(../assets/fonts/AvenirLT-Black.otf) format("otf");
}

@font-face {
  font-family: "Avenir Roman";
  src: local("AvenirLT-Roman"),
    url(../assets/fonts/AvenirLT-Roman.otf) format("otf");
}

@font-face {
  font-family: "Avenir Next";
  src: local("AvenirNext-Bold"),
    url(../assets/fonts/AvenirNext-Bold.otf) format("otf");
}
