@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #220F2C;
  background-image: url('/assets/images/bg-tiny.jpg');
  font-family: "Avenir Black";
  overflow-x: hidden;
  @apply text-white;
}

img {
  -webkit-user-drag: none!important;
  user-drag: none;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.custom-hr {
  margin: 0 auto;
  width: 20%;
  border: 3px solid #fff;
}

.text-grad {
  background: rgb(252,238,181);
  background: -moz-linear-gradient(270deg, rgba(252,238,181,1) 0%, rgba(175,170,92,1) 34%, rgba(253,246,212,1) 48%, rgba(175,170,92,1) 72%, rgba(252,238,181,1) 100%);
  background: -webkit-linear-gradient(270deg, rgba(252,238,181,1) 0%, rgba(175,170,92,1) 34%, rgba(253,246,212,1) 48%, rgba(175,170,92,1) 72%, rgba(252,238,181,1) 100%);
  background: linear-gradient(270deg, rgba(252,238,181,1) 0%, rgba(175,170,92,1) 34%, rgba(253,246,212,1) 48%, rgba(175,170,92,1) 72%, rgba(252,238,181,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fceeb5",endColorstr="#fceeb5",GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-grad-2 {
  background: rgb(252,238,181);
  background: -moz-linear-gradient(281deg, rgba(252,238,181,1) 0%, rgba(253,246,212,1) 64%, rgba(175,170,92,1) 78%, rgba(252,238,181,1) 89%);
  background: -webkit-linear-gradient(281deg, rgba(252,238,181,1) 0%, rgba(253,246,212,1) 64%, rgba(175,170,92,1) 78%, rgba(252,238,181,1) 89%);
  background: linear-gradient(281deg, rgba(252,238,181,1) 0%, rgba(253,246,212,1) 64%, rgba(175,170,92,1) 78%, rgba(252,238,181,1) 89%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fceeb5",endColorstr="#fceeb5",GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-grad {
  background: url('/assets/images/footer-gradient.webp') top center no-repeat;
  background-size: cover;
}

.youknow {
  width: 250px;
  

  &--section {
    background-image: url('/assets/images/bg-2.webp');
  }

  &--image {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }
}

.your-color::after{
  content:url("/assets/images/nova-formula/arrow.png"); /* with class ModalCarrot ??*/
  position: absolute; /*or absolute*/
  z-index:1000; /*a number that's more than the modal box*/
  left:30px;
  top:-60px;
  width: 50%;
}

@media screen and (max-width: 980px) {
  .your-color::after{
    content:url("/assets/images/nova-formula/arrow-1.png"); /* with class ModalCarrot ??*/
    position: absolute; /*or absolute*/
    z-index:1000; /*a number that's more than the modal box*/
    left:45px;
    top:-35px;
    width: 150px;
  }
}

.your-color {
  position: relative;
}

.flag {
  margin-top: -3.5rem;
}

.koleston-button {
  border: 10px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(270deg, rgba(252,238,181,1) 0%, rgba(175,170,92,1) 34%, rgba(253,246,212,1) 48%, rgba(175,170,92,1) 72%, rgba(252,238,181,1) 100%);
  border-radius: 2rem;
}

.header-name {
  background: url('/assets/images/wella-header.png') top center no-repeat;
  background-size: contain;
  height: 150px;
  width: 100%;
}

.header--group {
  background: url('/assets/images/KV-background.png') top center no-repeat;
}

.header-image {
  margin-top: -55px;
}